apiVersion: v1
kind: Secret
data:
  # these are REQUIRED
  # our backup bucket is s3://mybucket/ (which is not a real one...)
  S3TARGET: czM6Ly9teWJ1Y2tldC8=
  # run backups every 10 minutes
  FREQUENCY: MTA=
  # max restore age is 6 hours = 360 minutes
  MAXRESTOREAGE: MzYw
  # these are OPTIONAL
  AWS_ACCESS_KEY_ID: YWJjZGVmZw==
  AWS_SECRET_ACCESS_KEY: YWJjZGVmZw==aGlqa2xtbm9w
